/* global start */
:root {
    --primaryColor: #ff6a48;
}


* {
    box-sizing: border-box;
    font-family: '微軟正黑體';
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
img {
    margin: 0;
    padding: 0;
    border: 0;
}

h2 {
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
}

p {
    font-size: 14px;
    color: #333;
    font-weight: 300px;
    letter-spacing: 1px;
}

img {
    width: 100%;
}

ul {
    padding: 0;
    margin: 0;
}

/* grid for desktop  */
.full-width {
    width: 100%;
}

.fixed-width {
    width: 960px;
    margin: auto;
}

.col-1 {
    width: calc(100% / 12 * 1);
}

.col-2 {
    width: calc(100% / 12 * 2);
}

.col-3 {
    width: calc(100% / 12 * 3);
    background-color: var(--primaryColor);
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-5 {
    width: calc(100% / 12 * 5);
}

.col-6 {
    width: calc(100% / 12 * 6);
}

.col-7 {
    width: calc(100% / 12 * 7);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-9 {
    width: calc(100% / 12 * 9);
}

.col-10 {
    width: calc(100% / 12 * 10);
}

.col-11 {
    width: calc(100% / 12 * 11);
}

.col-12 {
    width: calc(100% / 12 * 12);
}

.nopa {
    padding: 0 !important;
}

.no {
    margin: 0 -15px;
}

[class*='col'] {
    float: left;
    padding: 15px;
}

li {
    list-style: none;
    /* float: left; */
}

a {
    color: #fff;
    text-decoration: none;
}
.btn {
    display: inline-block;
    padding: 8px 20px;
    background-color: var(--primaryColor);
    color: #fff;
    text-decoration: none;
    border: 2px solid rgba(255, 255, 255, 0.6);
}

/* global end */

#nav-info {
    /* height: 50px; */
    /* line-height: 50px; */
    /* background-color: #ccc; */
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    /* background-color: rgba(255, 255, 255, 0.75); */
}

#nav-info .addr {
    float: left;
    padding: 8px 20px;
    /* background-color: #0af; */
    /* line-height: 50px; */
}

#nav-info .register {
    float: right;
    /* background-color: #0fa; */
    /* line-height: 50px; */
}

#nav-info .donate {
    float: right;
    /* background-color: #a0f; */
}

#nav-info a {
    /* text-decoration: none;
    color: #000; */
    padding: 8px 20px;
    display: block;
}

#nav-info .register li {
    float: left;
}

/* nav  */
nav {
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    top: 77px;
    /* background-color: rgba(255, 255, 255, 0.75); */
}

nav .logo {
    float: left;
}

nav .menu {
    float: right;
}

nav .menu li {
    float: left;
}

nav a {
    display: block;
    padding: 8px 20px;
}

.line {
    position: relative;
    font-size: medium;
}

.line::before {
    content: '';
    display: block;
    position: absolute;
    border-top: 3px solid #ff6a48;
    width: 30px;
    top: 20px;
    left: 15px;
}

.line-light {
    position: relative;
}

.line-light::before {
    content: '';
    display: block;
    position: absolute;
    border-top: 3px solid #ff6a48;
    width: 30px;
    top: 20px;
    left: 15px;
}

/* header  */
header {
    height: 800px;
    background-image: url(../imges/background_01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* addition  */
#addition {
    position: absolute;
    padding: 25px 0;
}
#addition .date {
    font-size:60px;
}

.addition .col-10 {
    display: inline-block;
}

#addition .border {
    border-right: 1px solid gray;
}

#addition .box1 {
    padding-left: 15px;
}

#addition .box2 {
    padding: 20px 0;
}

/* feature */
#feature {
    padding-top: 20px;
    padding-bottom: 20px;
}

#feature h4 {
    font-size: 30px;
    font-weight: normal;
    line-height: 1em;
    padding-top: 15px;
    padding-bottom: 15px;
}

#feature p {
    padding-top: 15px;
    padding-bottom: 30px;
}

#feature .feature-galler {
    padding: 40px 60px;
    padding-bottom: 100px;
}

/* community  */
#community {
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: linear-gradient(rgba(255, 96, 96, 0.6), rgba(255, 96, 96, 0.6)), url(https://source.unsplash.com/random/1200x400);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
}


#community p,
#community h2 {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
}

/* gallery */
#gallery {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* upcoming  */
#upcoming {
    padding-top: 20px;
    padding-bottom: 20px;
    /* 漸層+底圖 */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://source.unsplash.com/random/1200x400);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#upcoming .date {
    background-color: var(--primaryColor);
    text-align: center;
    width: 80px;
    height: 100px;
    display: table;
}

#upcoming .day {
    display: table-cell;
    vertical-align: middle;
    color: #fff;
}

#upcoming .content {
    border: 2px solid rgba(255, 255, 255, 0.7);
    height: 100px;
    display: table;
    width: 100%;
    padding: 15px;
    color: #fff;
}
#upcoming .col-1{
    padding: 15px 0px;
}

#upcoming .title,
.time,
.addr {
    display: table-cell;
    vertical-align: middle;
    width: calc(100% / 3);
}

#upcoming p {
    color: #fff;
    margin-top: -4px;
}

/* blog */
#blog {
    padding-top: 20px;
    padding-bottom: 20px;
}
#blog .pic {
    position: relative;
    margin-bottom: 20px;
}
#blog .pic .date {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: var(--primaryColor);
    bottom: 4px;
    text-align: center;
    display: table;
}

#blog .pic .date .day {
    display: table-cell;
    vertical-align: middle;
    color: #fff;
}

/*PASTOR*/
#pastor{
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://source.unsplash.com/random/1200x400);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    font-weight: 1.2em;

}

#pastor .border-out {
    border-bottom: 2px solid rgba(255, 255, 255, 0.7);
  
}
#pastor .round {
    width: 50px;
    height: 50px;
    border: 2px solid #555;
    border-radius: 100%;
    right: 5px;
   
} 


#pastor .round:hover{
    background-color: var(--primaryColor);
}

/* navbar */
#pastor .box4 {
    width: 100%;
    height: 165px;
    background-color: var(--primaryColor);
}
#pastor .box5 {
    font-size:40px;
    padding:40px;
}
#pastor .box6 {
    padding:40px;
}
/* footer   */
footer {
    height: 100px;
    line-height: 100px;
}

footer .col-4 {
    text-align: right;
}
footer .col-8 {
    color: orange;
}

footer .col-4 a {
    margin: 0 10px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #aaa;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
}

footer .col-4 a:hover {
    color: rgb(203, 239, 112);
}
